<html>

<head>
  <base href="/" /> <!-- for local host -->
  <link rel="stylesheet" href="/css/website.css">
  <link rel="stylesheet" href="/css/login.css"> 
  <title>Home</title>
</head>

<body>
  <div>
    {{{ body }}}
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/seemore.js"></script>
</body>

</html>