
<head>
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
    <title>Home</title>
</head>

<body>
    <div>
        <div class="logout">
             <a href="index"><h4>Log Out<h4></a>
        </div>
        <div class="header">
            <h1> Home</h1>
            <h2> Hi Karen! </h2>
            <h4> Today is Monday, February 15, 2021 </h4>
        </div>
        <div class="small-button">
            <a href="currentsession"><p>Start Session</p></a></button>
        </div>
        <div class="graph">
            <h2>This Week's Summary</h2>
            <div class="img">
                <img class="graph2" src="/images/graph.png" alt="graph">
            </div>
            <div class="small-button">
                <a href="pastsession_selector"><p> See Past Sessions</p></a>
            </div>
        </div>
        <div class="socials">
            <h2>Most Used Apps</h2>
            <img class="graph2" src="/images/socials.png" alt="socials">
        </div>
    </div>

</body>