
<head>
  <link rel="stylesheet" href="/css/website.css">
  <title>Home</title>
</head>

<body>
    <div>
        <div class="logout">
             <a href="index"><h4>Log Out<h4></a>
        </div>
        <div class="header">
            <h1> Home</h1>
            <h3> Hi Karen! </h3>
            <h4> Today is Tuesday, February 15, 2021</h4>
        </div>
        <div class="big-button">
            <button type="button" class="start"><a href="currentsession">Start Session</a></button>
        </div>
        <div class="graph">
            <h2>Weekly Summary</h2>
             <a href="pastsession_selector"><p> See Past Sessions</p></a>
            <div class="img">
                <img class="graph2" src="/images/graph.png" alt="graph">
            </div>
        </div>
        <div class="socials">
            <h2>Most Used Apps</h2>
            <img class="graph2" src="/images/socials.png" alt="socials">
        </div>
    </div>

</body>