
<html>
<head>
	<link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>

	<title>Home</title>
</head>
<body>
    <div>
        <div class="question_form">
            <h4> Username </h4>
            <textarea name="textbox" rows="1" cols="100">
            </textarea>
        </div>
         	
        <div class="question_form">
            <h4> Password </h4>
            <textarea name="textbox" rows="1" cols="100">
            </textarea>
        </div>

         <div class="big-button">
            <button type="button" class="submit"><a href="homepage"><h4>Sign up</h4></a></button>
        </div>

    </div>
</body>
</html>