<html>
<head>
    
	<link rel="stylesheet" href="/css/website.css"> 

	<title>Past Session Overview</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="pastsession_selector"><h4>Back</h4></a>
            <h1> 02/02/2021</h1>
        </div>
        <div class="img">
            <img class="graph2" src="/images/pie_chart.png" alt="pie chart">
        </div>
        <div class = "sessions">
            <h2>Sessions</h2>
            <div class="session-buttons">
                <a href="pastsession_details">Session 1</a>
            </div>
            <div class="session-buttons">
                <a href="pastsession_details">Session 2</a>
            </div>
            <div class="session-buttons">
                <a href="pastsession_details">Session 3</a>
            </div>
        </div>
    </div>
</body>
</html>