<html>
<head>
    <!---<link href = "./public/css/website_design.css" rel="stylesheet"> --->
    
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
	<title>Session 1 Details</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="pastsession_overview"><h4>Back</h4></a>
            <h1> Session 1</h1>
        </div>
        <div class="img">
            <img class="graph2" src="images/graph.png" alt="bar chart">
        </div>
        <div class = "timeline">
            <h2>Timeline</h2>
            <div class="timeline">
                <img src="/images/Timeline.png" alt="timeline">
            </div>
        </div>
    </div>
</body>
</html>