<html>
<head>    
	<link rel="stylesheet" href="/css/website.css"> 

	<title>Session Summary</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="reflections"><h4>Back</h4></a>
            <h2>Weekly Summary</h2>
        </div>
        <div class="img">
            <img class="graph2" src= "/images/session_summary_graph.png" alt = "summary_graph">
        </div>
        <div class="insights">
            <h3>Insights</h3>
            <div class="card">
                <h4> You received 28 iMessage notifications. Muting this application can help minimize distractions!</h4>
                <a href="insights"><h4>See More</h4></a>
            </div>
        </div>
        <div>
             <h3>Most Used Apps</h3> 
        </div>
        {{#each socials}}
        <div class="socials">
            <p>{{app_name}}</p>
            <p>{{minutes}}</p>
        {{/each}}
        </div>

        <div class="big-button">
            <button type="button" class="submit"><a href="homepage">Exit Session</a></button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/seemore.js"></script>
</body>
</html>
