<html>
<head>    
    <link rel="stylesheet" href="/css/website.css" >
    <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
	<title>Session Summary</title>
</head>
<body>
    <div>
        <div class="header">
            <a href="reflections"><h4>Back</h4></a>
            <h2>Session Summary</h2>
        </div>
        <div class="img">
            <img class="graph2" src= "/images/graph.png" alt = "summary_graph">
        </div>
        <div class="insights">
            <h3>Insights</h3>
            <div class="card">
                <h4> You received 28 iMessage notifications. Muting this application can help minimize distractions!</h4>
                <a href="insights"><h4>See More</h4></a>
            </div>
        </div>
        <div class="socials">
            <h3>Most Used Apps</h3>
            <div class="img">
                <img class="social-icon" src="/images/instagram logo.png" alt="Instagram">
            </div>
            <div class="socials-time">
                <h4> 24 minutes</h4>
            </div>
            <div class="img">
                <img class="social-icon" src="/images/facebook logo.png" alt="Facebook">
            </div>
            <div class="socials-time">
                <h4> 19 minutes</h4>
            </div>
        </div>

        <div class="small-button">
            <a href="homepage"><p>Exit Session</p></a></button>
        </div>
    </div>
</body>
</html>



{{!-- 
<div>
    <h3>Most Used Apps</h3>
</div>
<div class="socials">
    <p>{{app_name}}</p>
    <p>{{minutes}}</p>
</div> 
--}}